extends layout

block content
  .delete-warning
    h1.title #{title}: #{item.name}
    p Do you really want to delete this item?
    form(action="", method="post") 
      input#itemid(type="hidden", name="itemid", required, value=item._id)
      if errors
        ul.form-errors
          each err in errors
            li=err.msg
      label(for="password") Admin Password: 
      input#password(name="password", required)
      input.btn.delete(type="submit", value="Delete Item")
